/* ==========================================
   CSS Variables
========================================== */

:root{

    /* =============================
       Colors
    ============================== */

    --primary: #ffffff;
    --secondary: #d4d4d4;

    --text: #ffffff;
    --text2: #bcbcbc;
    --text3: #8d8d8d;

    --accent: #4f8cff;
    --accent2: #7cb3ff;
    --accent-light: rgba(79,140,255,.12);

    /* =============================
       Backgrounds
    ============================== */

    --bg: #050505;
    --bg2: #111111;
    --card: #171717;
    --card-hover: #1d1d1d;

    /* =============================
       Borders
    ============================== */

    --border: #2d2d2d;
    --border-light: rgba(255,255,255,.08);

    /* =============================
       Radius
    ============================== */

    --radius-sm: 12px;
    --radius-md: 16px;
    --radius: 20px;
    --radius-lg: 30px;
    --radius-full: 50px;

    /* =============================
       Shadows
    ============================== */

    --shadow:

        0 20px 50px rgba(0,0,0,.35);

    --shadow-hover:

        0 25px 60px rgba(0,0,0,.45);

    /* =============================
       Layout
    ============================== */

    --max-width: 1300px;

    --section-padding: 120px 8%;

    /* =============================
       Transition
    ============================== */

    --transition: .35s ease;

}